
/* Form Fields */
.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #4a4a4a;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    font-size: 14px;
    background: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--input-focus-color);
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
    outline: none;
}

textarea {
    resize: none;
    height: 120px;
}

/* Submit Button */
button[type="submit"] {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(to right, #0066af, #259bfc);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

button[type="submit"]:hover {
    background: linear-gradient(to right, #259bfc, #0066af);
    transform: translateY(-2px);
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #4a4a4a;
    font-weight: bold;
    unicode-bidi: isolate;
}