/* Estilo para el contenedor con scroll */
.table-container {
    max-height: 400px; /* Altura máxima del contenedor */
    overflow-y: auto;  /* Activa el scroll vertical */
    border: 1px solid #ccc; /* Bordes para el contenedor */
    margin-top: 20px; /* Espaciado superior */
    color: #000;
}

/* Estilo para la tabla */
.user-table {
    width: 100%;
    border-collapse: collapse; /* Colapsa los bordes de las celdas */
}

.user-table th, .user-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Bordes debajo de las celdas */
}

.user-table th {
    background-color: #f2f2f2; /* Color de fondo para los encabezados */
}

p{
    color: #000;
}

/* Botones */
.btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-add {
    background-color: #28a745;
    color: white;
}

.btn-edit {
    background-color: #007bff;
    color: white;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
}

/* Paginación */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    padding: 8px 16px;
    margin: 0 5px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #f1f1f1;
}

