* {
    margin:0;
}

.container{
    float: left;
    margin: 10px;
    width: calc(100% - 20px);
    height: 600px;
    background: #555;
}

.contenido{
    background: #999;
    height: 90%;
    width: auto;
    margin: 30px;
}