
/* Form Fields */
.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #4a4a4a;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    font-size: 14px;
    background: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--input-focus-color);
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
    outline: none;
}

textarea {
    resize: none;
    height: 120px;
}

/* Submit Button */
button {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #1D4E89;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    display: inline-block;
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

button:hover {
    background: linear-gradient(to right, #749DC8, #A2D2FF); /* Tonos más claros en hover */
    transform: translateY(-3px); /* Efecto de elevación */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

button:active {
    transform: translateY(1px); /* Efecto al presionar */
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2); /* Sombra más sutil */
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 102, 255, 0.4); /* Contorno azul para accesibilidad */
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #4a4a4a;
    font-weight: bold;
    unicode-bidi: isolate;
}