/* Contenedor principal */
#historial-content {
    margin: 20px;
    width: calc(100% - 40px);
    overflow-y: auto;
    background-color: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--card-shadow-color);
    padding: 10px;
}

/* Estilo de las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--card-background);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--card-shadow-color);
}

/* Encabezados de las tablas */
table th {
    background-color: var(--header-background);
    color: var(--header-text-color);
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
    border-bottom: 3px solid var(--color-hover);
}

/* Celdas */
table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--card-border-color);
    color: var(--card-text-color);
}

/* Filas alternas */
table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Hover sobre filas */
table tr:hover {
    background-color: var(--button-card-hover-bg);
}

/* Texto centrado para mensajes */
.historial p {
    text-align: center;
    font-size: 16px;
    color: var(--card-text-color);
    margin-top: 20px;
}
