h2 {
    font-size: 24px;
    color: #001637;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

#materialesTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#materialesTable th, #materialesTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#materialesTable th {
    background-color: #f2f2f2;
}

.eliminarMaterial {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.eliminarMaterial:hover {
    background-color: #e53935;
}

/* Nuevo CSS para limitar la altura del formulario y agregar scroll */
.form-container {
    max-height: 80vh; /* Ajusta la altura según tus necesidades */
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #1D4E89;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    display: inline-block;
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

button:hover {
    background: linear-gradient(to right, #749DC8, #A2D2FF); /* Tonos más claros en hover */
    transform: translateY(-3px); /* Efecto de elevación */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

button:active {
    transform: translateY(1px); /* Efecto al presionar */
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2); /* Sombra más sutil */
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 102, 255, 0.4); /* Contorno azul para accesibilidad */
}