h2 {
    font-size: 24px;
    color: #001637;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

h4 {
    color: #001c32; 
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5vh;
    unicode-bidi: isolate;
}
/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    border-radius: 10px;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px; /* Aumentamos el tamaño máximo */
    max-height: 600px; /* Limitar la altura máxima */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Botones generales */
button {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #1D4E89;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    display: inline-block;
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

button:hover {
    background: linear-gradient(to right, #749DC8, #A2D2FF); /* Tonos más claros en hover */
    transform: translateY(-3px); /* Efecto de elevación */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

button:active {
    transform: translateY(1px); /* Efecto al presionar */
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2); /* Sombra más sutil */
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 102, 255, 0.4); /* Contorno azul para accesibilidad */
}

/* Alinear botones en las celdas de la tabla */
.table-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

table td form {
    padding: 0;
    display: inline-block;
}

table td button {
    margin-left: 5px;
}

/* Estilos para los campos del formulario en el modal de finalización */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #4a4a4a;
}

.form-group textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group textarea:focus {
    border-color: #0066af;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
    outline: none;
}
